<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include ('components/navbar.ejs') %>
    <div class="container">
        <h1>Contact Us</h1>
    </div>

</body>
</html>