*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    padding: 1rem;
    background-color: #000000;
    

}
nav ul{
    list-style-type: none;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
}

nav a:hover{
    color: gray;
}
h1{
    font-size: 2rem;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}